@model ProdutoViewModel

@{
    ViewData["Title"] = "Produto";
}

<h1>@ViewData["Title"]</h1>
<partial name="_Detalhes" />

<h4>Fornecedor</h4>
<partial name="../Fornecedor/_Detalhes" model="@Model.Fornecedor" />
