@model FornecedorViewModel

<ul>
    <li><strong>Nome:</strong> @Model.Nome</li>
    <li><strong>Documento:</strong> @Model.Documento</li>
    <li><strong>Data de Cadastro:</strong> @Model.DataCadastro</li>
    <li><strong>Tipo de Fornecedor:</strong> @Model.TipoFornecedor</li>
</ul>
