@model FornecedorViewModel

@{
    ViewData["Title"] = "Fornecedor";
}

<h1>@ViewData["Title"]</h1>

<partial name="_Detalhes">

<h4>Endereço</h4>
<partial name="_EnderecoDetalhes" model="@Model.Endereco" />

@* <partial name="_EditarEndereco" model="@Model.Endereco" /> *@